<div class="navbar bg-base-100 flex flex-col md:flex-row items-center justify-between p-4">

    <!-- Logo -->
    <a routerLink="/home" class=" mb-4 md:mb-0">
        <img src="assets/logo.png" alt="logo" class="max-h-16 hover:cursor-pointer" />
    </a>



    <!-- Menú de navegación -->
    <div class=" text-center"> <!-- Alineación centrada en dispositivos pequeños -->
        <ul class="menu menu-horizontal flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4">
            <li><a routerLink="/home">HOME</a></li>
            <li><a routerLink="/add-pal">ADD PAL</a></li>
        </ul>
    </div>
</div>